@charset "UTF-8";
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to right, #9E9DBD, #C4AAC3);
}
main{
    background-color: white;
    box-shadow: 5px 5px 15px #DF96A1 ;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;

}
h1{
    color:#535B80 ;
    text-align: center;
    text-shadow: 1px 1px 3px  #a09fb891 ;
}
h2{color: #DF96A1;

}
p{
    text-align: justify;
}