@charset "UTF-8";


body{
    background-image: linear-gradient(to right,#80b5fa7f, #31F1FA, #FACC85);
   


}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 15px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}